flows.json
[{"id":"96ada0fc.b9094","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9f5b6c80.3417c","type":"function","z":"96ada0fc.b9094","name":"","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["99bf38a4.be66b8"]]},{"id":"99bf38a4.be66b8","type":"watson-discovery-v1","z":"96ada0fc.b9094","name":"Newsapp","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/17cd33b1-02d5-4b3a-ae98-98aa48194a51","x":400,"y":240,"wires":[["e1f0b271.cef64","558adc66.99b884","872f8c80.ddd99","8f6b3b08.8cb3c8","6bc48b2f.bb4e94","2d29cf93.def22","c3b7ab79.53aae8"]]},{"id":"e1f0b271.cef64","type":"function","z":"96ada0fc.b9094","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":40,"wires":[["79793328.2a40fc","ef718829.b1b2a8","d63d9d1f.7cf55"]]},{"id":"79793328.2a40fc","type":"debug","z":"96ada0fc.b9094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":20,"wires":[]},{"id":"ef718829.b1b2a8","type":"ui_text","z":"96ada0fc.b9094","group":"459b06ea.3f6908","order":1,"width":"14","height":"2","name":"","label":"Results","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":60,"wires":[]},{"id":"558adc66.99b884","type":"debug","z":"96ada0fc.b9094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":140,"wires":[]},{"id":"d63d9d1f.7cf55","type":"sentiment","z":"96ada0fc.b9094","name":"","property":"payload","x":220,"y":500,"wires":[["d984302a.da165","6b81ba29.c6b154","c2eeb572.1ad3f8","2c30c912.cd28e6"]]},{"id":"872f8c80.ddd99","type":"function","z":"96ada0fc.b9094","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["ebbf4d5e.2815f"]]},{"id":"d984302a.da165","type":"debug","z":"96ada0fc.b9094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":400,"wires":[]},{"id":"6b81ba29.c6b154","type":"function","z":"96ada0fc.b9094","name":"sentiment","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["7306f633.355788"]]},{"id":"c2eeb572.1ad3f8","type":"function","z":"96ada0fc.b9094","name":"positive","func":"msg.payload=msg.sentiment.positive.length;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":520,"wires":[["c36703e8.80e42"]]},{"id":"2c30c912.cd28e6","type":"function","z":"96ada0fc.b9094","name":"negative","func":"msg.payload=msg.sentiment.negative.length;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["56a8f1ce.3c0f3"]]},{"id":"7306f633.355788","type":"ui_chart","z":"96ada0fc.b9094","name":"","group":"459b06ea.3f6908","order":3,"width":"3","height":"5","label":"sentiment score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":460,"wires":[[]]},{"id":"c36703e8.80e42","type":"ui_chart","z":"96ada0fc.b9094","name":"","group":"459b06ea.3f6908","order":9,"width":"3","height":"5","label":"positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":520,"wires":[[]]},{"id":"56a8f1ce.3c0f3","type":"ui_chart","z":"96ada0fc.b9094","name":"","group":"459b06ea.3f6908","order":10,"width":"3","height":"5","label":"negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":580,"wires":[[]]},{"id":"8f6b3b08.8cb3c8","type":"function","z":"96ada0fc.b9094","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":180,"wires":[["8c203b98.989198"]]},{"id":"6bc48b2f.bb4e94","type":"function","z":"96ada0fc.b9094","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["46c2de8b.71332"]]},{"id":"2d29cf93.def22","type":"function","z":"96ada0fc.b9094","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["ee2e37f9.00d238","63babd0e.d1e034"]]},{"id":"c3b7ab79.53aae8","type":"function","z":"96ada0fc.b9094","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["af189e52.a63e9"]]},{"id":"af189e52.a63e9","type":"ui_text","z":"96ada0fc.b9094","group":"459b06ea.3f6908","order":8,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":340,"wires":[]},{"id":"46c2de8b.71332","type":"ui_text","z":"96ada0fc.b9094","group":"459b06ea.3f6908","order":6,"width":"14","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"8c203b98.989198","type":"ui_text","z":"96ada0fc.b9094","group":"459b06ea.3f6908","order":5,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":180,"wires":[]},{"id":"ebbf4d5e.2815f","type":"ui_text","z":"96ada0fc.b9094","group":"459b06ea.3f6908","order":2,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":120,"wires":[]},{"id":"ee2e37f9.00d238","type":"ui_text","z":"96ada0fc.b9094","group":"459b06ea.3f6908","order":7,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":260,"wires":[]},{"id":"63babd0e.d1e034","type":"ui_gauge","z":"96ada0fc.b9094","name":"","group":"459b06ea.3f6908","order":4,"width":"0","height":"0","gtype":"gage","title":"sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":340,"wires":[]},{"id":"395064e0.6cd6fc","type":"ui_form","z":"96ada0fc.b9094","name":"","label":"","group":"459b06ea.3f6908","order":10,"width":"14","height":"4","options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["9f5b6c80.3417c"]]},{"id":"459b06ea.3f6908","type":"ui_group","z":"","name":"News app","tab":"5c5a2787.f5dfa8","order":1,"disp":true,"width":"15","collapse":false},{"id":"5c5a2787.f5dfa8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]